<app-navbar></app-navbar>
<div class="container">
  <form #f="ngForm">

  

   

    <div class="field">
      <label class="label">Nome escola</label>
      <div class="control">
        <input type="text" class="input" id="name" required [(ngModel)]="model.name" name="name">
      </div>
    </div>
    <div class="field">
      <label class="label">Titulo ação</label>
      <div class="control">
        <input type="text" class="input" id="description" required [(ngModel)]="model.description" name="description">
      </div>
    </div>


    <div>
      <span>Dados adicionais</span>
      <div class="" *ngFor="let d of model.content; let i = index">
        <div class="field ">
          <label class="label">Titulo</label>
          <div class="control">
            <input type="text" class="input" [(ngModel)]="model.content[i].title" name="{{d.title +   '-'  + i}}" />
          </div>
        </div>
        <div class="field ">
          <label class="label">Descrição</label>
          <div class="control">
            <textarea class="textarea" [(ngModel)]="model.content[i].detail" name="{{d.detail +   '-'  + i}}"></textarea>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <button class="button" (click)="remove(model.content[i]);">Remover</button>
          </div>
        </div>
      </div>

      <div class="column">
        <button class="button pull-right" (click)="add();">Nova descrição</button>
      </div>
    </div>

    <div class="columns">
      <div class="field column">
        <label class="label">Descrição imagem</label>
        <div class="control">
          <input type="text" class="input" id="imagedescription" required [(ngModel)]="model.imageDescripton" name="imagedescription">
        </div>
      </div>

      <div class="file column">
        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta" style="margin-top:33px;">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="field">
      <label class="label">Telefone Contato</label>
      <div class="control">
        <input type="text" class="input" id="phone" required [(ngModel)]="model.phone" name="phone">
      </div>
    </div>

    <div class="field">
      <label class="label">CEP</label>
      <div class="control">
        <input type="text" class="input" id="cep" required [(ngModel)]="cep" name="cep">
      </div>
      <button class="button" (click)="buscarCEP();">BuscarCEP</button>
    </div>

    <div *ngIf="wait" class="notification is-warning">
      <strong>AGUARDE</strong>, estamos buscando o CEP informado
    </div>

    <div class="field">
      <label class="label">Endereço</label>
      <div class="control">
        <input type="text" class="input" id="endereco" required [(ngModel)]="endereco" name="endereco">
      </div>
      <p *ngIf="endereco">Por favor, adicione o número ao endereço encontrado</p>
    </div>
    <fieldset class="field" style="padding: 15px">
        <legend>Participante da(s) seguinte(s) ação(ões) sustentável(eis):</legend>
        <h3> <strong>Serviços</strong></h3>
          <input type="checkbox" checked /> elétrica
          <input type="checkbox" />encanamento
          <input type="checkbox" />alvenaria
          <input type="checkbox" />pintura
          <input type="checkbox" />marcenaria
          <input type="checkbox" />ajudante
          <br><br>
          <h3> <strong>Voluntários</strong></h3>
          <input type="checkbox" checked/> Limpeza
          <input type="checkbox" />Educação
          <input type="checkbox" />Social
          <br><br>
          <h3> <strong>Doador</strong></h3>
          <input type="checkbox" checked /> material escolar
          <input type="checkbox" />material de limpeza
          <input type="checkbox" />material reciclável
          
          <br><br>
          <h3> <strong>Empresas parceiras</strong></h3>
          <input type="checkbox" /> material reciclável
          <input type="checkbox" />material nociso
      </fieldset>

    <button class="button is-primary is-pulled-right" (click)="salvar();">Salvar</button>

  </form>
 
</div>

<div *ngIf="this.wait" class="notification is-link">
  <button class="delete"></button>
  Aguarde, estamos salvando os dados em nossos servidores.
</div>