<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://sustentabilidadeescolar.com.br/assets/imgs/Texto_complementar.png" alt="Bulma">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma"> -->
    </a>
    <a [routerLink]="['/all']" class="navbar-item">
      Home
    </a>
    <a [routerLink]="['/add']" class="navbar-item">
      Novo
    </a>
    <!-- navbar items, navbar burger... -->
  </div>
  <div class="navbar-menu">
    <!-- navbar start, navbar end -->
  </div>
</nav>
<hr>